name: Check actions

on: workflow_call

jobs:
  check-actions:
    timeout-minutes: 30
    name: Check github actions
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - name: checkout
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
        with:
          persist-credentials: false
      - name: Check Changed Files
        uses: dorny/paths-filter@de90cc6fb38fc0963ad72b210f1f284cd68cea36 # v3.0.2
        id: filter
        with:
          filters: |
            actions:
              - ".github/workflows/*.yml"
              - ".github/workflows/*.yaml"
      - uses: aquaproj/aqua-installer@11dd79b4e498d471a9385aa9fb7f62bb5f52a73c # v4.0.4
        if: steps.filter.outputs.actions == 'true'
        with:
          aqua_version: v2.55.1
      - name: Linting
        if: steps.filter.outputs.actions == 'true'
        run: |
          ghalint run
          actionlint
