name: Generate docs from pod

on:
  push:
    branches:
      - main

jobs:
  path-filter:
    timeout-minutes: 30
    outputs:
      pod: ${{steps.changes.outputs.pod}}
    runs-on: ubuntu-latest
    permissions: {}
    steps:
      - name: checkout
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          persist-credentials: false
      - uses: dorny/paths-filter@de90cc6fb38fc0963ad72b210f1f284cd68cea36 # v3.0.2
        id: changes
        with:
          filters: |
            pod:
              - README.pod
              - .github/workflows/doc.yml
  generate-document:
    needs: path-filter
    if: needs.path-filter.outputs.pod == 'true'
    runs-on: ubuntu-latest
    timeout-minutes: 30
    permissions:
      contents: write
      pull-requests: write
    steps:
      - name: checkout
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          persist-credentials: false
      - uses: aquaproj/aqua-installer@e2d0136abcf70b7a2f6f505720640750557c4b33 # v3.1.1
        with:
          aqua_version: v2.42.2
      - name: Check is main protected
        id: branch-check
        env:
          GH_TOKEN: ${{ github.token }}
        run: |
          PROTECTED=$(gh api "/repos/{owner}/{repo}/branches/main" | jq -r '.protected')
          echo "isProtected=${PROTECTED}" | tee "${GITHUB_OUTPUT}"
      - uses: Omochice/action-normalize-vim-plugin-name@4c0461629dd9dfbce8a5e77ef962d8d719ca1885 # v0.1.0
        id: normalize
        with:
          trim-tail-dot-vim: true
      - uses: Omochice/action-podeno@dada699f16466ed7890f9714334fd3a38f2447b8 # v0.1.1
        with:
          config: |
            [
              { type: "markdown", in: "README.pod", out: "README.md", },
              { type: "vimdoc", in: "README.pod", out: "doc/${{ steps.normalize.outputs.normalizedName }}.txt", },
            ]
      - uses: denoland/setup-deno@909cc5acb0fdd60627fb858598759246509fa755 # v2.0.2
      - run: deno fmt README.md
      - uses: DavidAnson/markdownlint-cli2-action@05f32210e84442804257b2a6f20b273450ec8265 # v19.1.0
        with:
          fix: true
          globs: "README.md"
      - uses: actions/create-github-app-token@c1a285145b9d317df6ced56c09f525b5c2b6f755 # v1.11.1
        id: app-token
        with:
          app-id: ${{ secrets.PODENO_APP_ID }}
          private-key: ${{ secrets.PODENO_PRIVATE_KEY }}
      - name: Create auto commit
        if: ${{ steps.branch-check.outputs.isProtected == 'false' }}
        uses: stefanzweifel/git-auto-commit-action@e348103e9026cc0eee72ae06630dbe30c8bf7a79 # v5.1.0
        with:
          commit_message: "docs: update docs"
          branch: ${{ github.head_ref }}
          token: ${{ steps.app-token.outputs.token }}
      - name: Create Pull Request
        if: ${{ steps.branch-check.outputs.isProtected == 'true' }}
        uses: peter-evans/create-pull-request@67ccf781d68cd99b580ae25a5c18a1cc84ffff1f # v7.0.6
        with:
          title: "docs: update docs"
          body: |
            This PR is created by [create-pull-request](https://github.com/peter-evans/create-pull-request).
            The docs are generated automaticaly.
          author: "GitHub <noreply@github.com>"
          delete-branch: true
          token: ${{ steps.app-token.outputs.token }}
